{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <title>Document</title>
  {% tailwind_css %}
</head>
<body class='bg-sky-600 h-screen'>
  
  <header class="bg-sky-300 w-full h-14 absolute">
    <div>
      <a href="/login_prof">Acesso profissional
        <button class>

        </button>
      </a>
    </div>
  </header>

  <main class="bg-sky-600 flex flex-col items-center justify-between align-middle overflow-hidden h-screen pt-14 sm:pt-36">
    <img class="w-full sm:w-1/3 pt-4" src="{% static 'images/logo.svg' %}">
     <!--<div class="font-apricots text-9xl text-sky-300 p-8">Brightsteps</div> -->

      <div class="bg-sky-300 w-96 flex flex-col justify-center align-middle rounded-3xl shadow-md">
        <div class="font-montserrat text-3xl text-center text-sky-600 p-8">
          Código da criança
        </div>
        <form class="flex flex-col px-16" action="/checklist_find" method="POST">
          {% csrf_token %}
          <input type="text" class="p-2 mb-8 rounded-full w-full" name="codigo">
          <button class="mb-8 p-2 bg-sky-600 rounded-full">Buscar</button>
        </form>
      </div>

      <p class="font-montserrat text-3xl w-96 text-yellow-400 text-center p-8">Acompanhamento padrão Denver para crianças no espectro autista</p>

      <img class="w-full sm:w-1/3 " src="{% static 'images/kids.svg' %}">
      
    </div>
  </main>
</body>
</html>