{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <title>Document</title>
  {% tailwind_css %}
</head>
<body class=''>
  


  <main class="bg-gradient-to-t from-sky-500 to-sky-600 h-scree flex flex-col items-center justify-between align-middle overflow-hidden h-screen">

    <header class="bg-sky-300 w-full h-14 sm:flex items-center align-middle justify-end hidden shadow-md">
      <a href="/login_prof">
        <button class='p-2 px-4 mr-4 bg-sky-200 rounded-full font-montserrat border-sky-900 border-2 hover:bg-yellow-100'>
          Acesso profissional
        </button>
      </a>
    </header>

    <img class="w-full px-4 sm:w-1/3 pt-4" src="{% static 'images/logo2.svg' %}">
     <!--<div class="font-apricots text-9xl text-sky-300 p-8">Brightsteps</div> -->

      <div class="bg-sky-300 sm:w-1/4 w-3/4 flex flex-col justify-center align-middle items-center rounded;-3xl shadow-md">
        <div class="font-montserrat xl:text-3xl text-xl text-center text-sky-800 xl:pt-4 my-2 font-bold">
          Código da criança
        </div>
        <form name='busca' class="flex flex-col w-full items-center align-middle justify-center" action="/checklist" method="GET">

          <input type="text" class="mb-2 w-2/3 rounded-full" name="p">

        
        <button class="mb-4 border-sky-900 border-2 xl:py-2 w-2/3 bg-sky-200 rounded-full shadow-md hover:shadow-lg hover:bg-yellow-100 ">Buscar</button>

        <p class="font-montserrat font-bold text-xl mb-2 text-red-400 text-center">{% include 'blocks/messages.html'%}</p>
        
        </form>
        
      </div>

      <p class="font-montserrat font-bold drop-shadow-2xl text-xl xl:text-4xl sm:w-1/3 text-yellow-300 text-center lg:p-4" >Acompanhamento padrão Denver para crianças no espectro autista</p>

      <img class="w-full sm:w-1/3 " src="{% static 'images/kids.svg' %}">

</main>
</body>
</html>